backcall==0.2.0
BTrees==4.7.2
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
decorator==4.4.2
idna==2.10
ipython==7.21.0
ipython-genutils==0.2.0
jedi==0.18.0
parso==0.8.1
persistent==4.6.4
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.17
ptyprocess==0.7.0
pycparser==2.20
Pygments==2.8.1
requests==2.25.1
six==1.15.0
traitlets==5.0.5
transaction==3.0.1
urllib3==1.26.4
wcwidth==0.2.5
zc.lockfile==2.0
ZConfig==3.5.0
zdaemon==4.3
ZEO==5.2.2
ZODB==5.6.0
zodbpickle==2.0.0
zope.interface==5.2.0
