BTrees==4.7.2
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
idna==2.10
persistent==4.6.4
pycparser==2.20
requests==2.25.1
six==1.15.0
transaction==3.0.1
urllib3==1.26.3
zc.lockfile==2.0
ZConfig==3.5.0
ZODB==5.6.0
zodbpickle==2.0.0
zope.interface==5.2.0
